<%= @customer.nickname %>
<%= @customer.email %>
<%= link_to "編集", edit_customer_path(@customer) %>

<table>
  <thead>
    <tr>
      <th>NG表現</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.ng_expression.ng_expression %></td>
    <% end %>
  </tbody>
</table>