
<%= form_with model:story_genre, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: story_genre %>
	<table class="table table-borderless ">
		<tbody>
			<tr>
				<td class="d-flex align-items-center">
					<%= f.text_field :story %>
					<%= f.submit submit, class: "ml-2 btn btn-sm btn-primary" %>
				</td>
			</tr>
		</tbody>
	</table>
<% end %>