<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light"><span class="bg-primary">　作品傾向編集　</span></h5>
		  <%= render 'form', story_genre: @story, url: admin_story_genre_path(@story), submit: '更新' %>
		  <%= link_to "一覧に戻る", admin_story_genres_path, class:"text-reset border-bottom border-dark" %>
		</div>
	</div>
</div>