<section class="inner">
	<h2 class="section-ttl">コンテンツジャンル管理</h2>
	<div class="mb3">
		<h3>ジャンル新規登録</h3>
  	<%= render 'form', story_genre: @story, url: admin_story_genres_path, submit: '登録' %>
	</div>
	<div class="mb3">
		<h3>ジャンル一覧</h3>
		<table class="genre_info has_border">
			<thead>
				<tr>
					<th>ジャンル</th>
				</tr>
			</thead>
			<tbody>
				<% @stories.each do |story| %>
					<tr>
						<td><%= link_to story.story,
						admin_story_genres_path(story.id), class: "underline" %></td>
						<td class="text-center">
						  <%= link_to "編集", edit_admin_story_genre_path(story), class: "btn btn-success" %>
						  <%= link_to "削除", admin_story_genre_path(story), method: :delete, class:"btn btn-sm btn-danger" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>