<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light">
				<span class="bg-primary">
					<%= @content.title %>に<%= @ng_expression.ng_expression %>は出てくる？
				</span>
			</h5>
		  <%= render 'form', comment: @comment,
			  content: @content, ng_expression: @ng_expression,
			  url: ng_expression_comment_path(@ng_expression.id, @comment.id),,submit: '更新', draft: '下書き保存' %>
		  <%= link_to"コメント一覧に戻る", ng_expression_comments_path(@ng_expression, content_id: @content.id), class:"border-primary border-bottom" %>
		</div>
	</div>
</div>