<div class="container mt-5">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<h5 class="text-center text-light">
				<span class="bg-primary">　<%= @content.title %>に<%= @ng_expression.ng_expression %>　</span>
			</h5>
      <table class="table mt-3">
				<thead>
					<tr>
						<th>コメント一覧</th>
					</tr>
				</thead>
				<tbody>
					<% @comments.each do |comment| %>
						<tr>
							<td>
								<%= comment.comment %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>