<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light"><span class="bg-primary">　媒体管理　</span></h5>
		  <%= render 'form', media_genre: @media, url: admin_media_genre_path(@media), submit: '更新' %>
		</div>
	</div>
</div>