<div class="container mt-5">

	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<table class="table mt-3">
				<thead>
					<tr>
						<th>NG表現一覧</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @ng_expressions.each do |ng| %>
						<tr>
							<td>
								<%= link_to ng.ng_expression, ng_expression_path(ng), class: "underline" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>