@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.humberger-menu{
  color:white;
}

.search-img img{
    display: block;
    height: 200px;
    object-fit: cover;
    width: 100%;
}